<%= form_for(@rmcat) do |f| %>
  <% if @rmcat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rmcat.errors.count, "error") %> prohibited this rmcat from being saved:</h2>

      <ul>
      <% @rmcat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form1">
  <fieldset>
    <div class="field">
      <%= f.label :rmtype %><br>
      <%= f.text_field :rmtype %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
  </div>
<% end %>
