<%= form_for([@room, @booking]) do |f| %>
<p> Select Customer </p>
<%= f.collection_select :user_id, User.all, :id, :customer_name %>

  <p>
    <%= f.label 'start_time', 'Start Date and Time' %>
    <%= f.datetime_select :start_time, { minute_step: 15 } %>
  </p>
  <p>
    <%= f.label 'length', 'Length of booking in hours' %>
    <%= f.number_field 'length', min: 1 %>
  </p>
  <p>
    Room price  £<%= @room.price %>
  </p>
  <p> Extras </p>
  Type of Extra

  <%#= f.collection_select :extra_id, Extra.all, :id, :extra_info %>

  <%= f.submit 'Submit' %>
<% end %>
