<%= form_for @room, :url => rooms_path, :html => { :multipart => true } do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="main-form">
  <fieldset>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :rmcat_id, "Room Type:" %><br />
    <%= f.collection_select :rmcat_id, Rmcat.all, :id,:rmcat_info, {:include_blank => 'Please Select'} %>
  </div>
  <div class="field">
    <%= f.label :description, "Description:" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :size, "Size (square feet):" %><br>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :capacity, "Capacity:" %><br>
    <%= f.number_field :capacity %>
  </div>
  <div class="field">
    <%= f.label :price, "Price:" %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :picture, "Image:" %><br>
    <%= f.file_field :picture %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
</fieldset>
</div>
<% end %>
