
<nav class="roomnavbar navbar-default" role="navigation">
<div class="roomcontainer">
  <div class="rooomnavbar-header">
      <!-- <div class="roomheader"><a class="roomnavbar-brand" href="/rooms">Rooms</a></div> -->
          <ul class="roomliststyle">

            <li><a class="roomnavbar-brand" href="/rooms/1">Maple Room</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/2">Castle Room</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/3">Regal Room</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/4">The Grand Hall</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/5">The Beaumant</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/6">Belverdere</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/7">Winter Wonderland</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/8">Ambleside</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/9">The Lakeside</a></li>
          </ul>

  </div>
</div>
</nav>
<body>
  <div class="landing-image">
    <div id="carousel" class="owl-carousel">
      <div> <%= image_tag("rooms1.jpg") %> </div>
      <div> <%= image_tag("rooms2.jpg") %> </div>
      <div> <%= image_tag("rooms3.jpg") %> </div>
      <div> <%= image_tag("rooms4.jpg") %> </div>
      <div> <%= image_tag("rooms5.jpg") %> </div>
      <div> <%= image_tag("rooms6.jpg") %> </div>
      <div> <%= image_tag("rooms7.jpg") %> </div>
      </div>
  </div>

</body>
<script>
$(document).ready(function() {
  $("#carousel").owlCarousel({
    items : 1, //1 items above 1000px browser width
    autoPlay: true
  });
});
</script>
