<div id="all-details">
  <fieldset>
    <div class="main-title"> <%= @room.name %> </div>
    <div class="sub-title">
      <% if not @room.picture.blank? %>
        <%= link_to (image_tag @room.picture, size: "450x300"),
            rooms_path, :title => 'return to "all" rooms ...' %>
      <% else %>
        <%= image_tag "no-image.jpg", :size => "200x250" %>
      <% end %>
    </div>

    <div class="sub-title">
      <% if not @room.rmcat.rmtype.blank? %>
        Room Type: <%= @room.rmcat.rmtype %>
      <% end %>
    </div>

    <div class="sub-title">
      <% if not @room.description.blank? %>
        Description: <%= @room.description %>
      <% end %>
    </div>

    <div class="sub-title">
      <% if not @room.size.blank? %>
        Room Size: <%= @room.size %> Square feet
      <% end %>
    </div>

    <div class="sub-title">
      <% if not @room.capacity.blank? %>
        Room Capacity: <%= @room.capacity %> People
      <% end %>
    </div>


    <div class="sub-title">
      <% if not @room.price.blank? %>
        Room Price: <%=number_to_currency @room.price, unit: "£" %>
      <% end %><br/>
      <% if can? :update, @room %>
        <%= link_to "Edit", edit_room_path(@room) %>
      <% end %>
      <%= link_to 'Back', rooms_path %>
    </div>
  </fieldset>
</div>
