
<nav class="roomnavbar navbar-default" role="navigation">
<div class="roomcontainer">
  <div class="rooomnavbar-header">
      <!-- <div class="roomheader"><a class="roomnavbar-brand" href="/rooms">Rooms</a></div> -->
          <ul class="roomliststyle">

            <li><a class="roomnavbar-brand" href="/rooms/1">Maple Room</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/2">Castle Room</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/3">Regal Room</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/4">The Grand Hall</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/5">The Beaumant</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/6">Belverdere</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/7">Winter Wonderland</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/8">Ambleside</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/9">The Lakeside</a></li>
          </ul>

  </div>
</div>
</nav>
<div id="all-details">
    <div class="main-title"> <%= @room.name %> </div>
    <div id="show-img">
      <% if not @room.picture.blank? %>
        <%= link_to (image_tag @room.picture, size: "650x500"), rooms_path, :title => 'return to rooms.' %>
      <% else %>
        <%= image_tag "no-image.jpg", :size => "200x250" %>
      <% end %>
    </div>

    <div class="sub-title">
      <% if not @room.rmcat.rmtype.blank? %>
        Room Type: <%= @room.rmcat.rmtype %>
      <% end %>
    </div>

    <div class="sub-title">
      <% if not @room.description.blank? %>
        Description: <%= @room.description %>
      <% end %>
    </div>

    <div class="sub-title">
      <% if not @room.size.blank? %>
        Room Size: <%= @room.size %> Square feet
      <% end %>
    </div>

    <div class="sub-title">
      <% if not @room.capacity.blank? %>
        Room Capacity: <%= @room.capacity %> People
      <% end %>
    </div>


    <div class="sub-title">
      <% if not @room.price.blank? %>
        Room Price: <%=number_to_currency @room.price, unit: "£" %>
      <% end %><br/>
      <% if can? :update, @room %>
        <%= link_to "Edit", edit_room_path(@room) %>
      <% end %>
      <%= link_to 'Back', rooms_path %>
      <%= link_to 'Add viewing', new_room_viewing_path(@room) %>
      <%= link_to 'Show viewings', room_viewings_path(@room) %>
    </div>
</div>
