<nav class="roomnavbar navbar-default" role="navigation">
  <div class="roomcontainer">
    <div class="rooomnavbar-header">
      <!-- <div class="roomheader"><a class="roomnavbar-brand" href="/rooms">Rooms</a></div> -->
      <ul class="roomliststyle">
        <li><a class="roomnavbar-brand" href="/rooms/1">Maple Room</a></li>
        <li><a class="roomnavbar-brand" href="/rooms/2">Castle Room</a></li>
        <li><a class="roomnavbar-brand" href="/rooms/3">Regal Room</a></li>
        <li><a class="roomnavbar-brand" href="/rooms/4">Grand Hall</a></li>
        <li><a class="roomnavbar-brand" href="/rooms/5">Beaumant</a></li>
        <li><a class="roomnavbar-brand" href="/rooms/6">Belverdere</a></li>
        <li><a class="roomnavbar-brand" href="/rooms/7">Winter Wonderland</a></li>
        <li><a class="roomnavbar-brand" href="/rooms/8">Ambleside</a></li>
        <li><a class="roomnavbar-brand" href="/rooms/9">Lakeside</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="room-title"> <%= @room.name %> </div>
<div id="room-img">
  <%= link_to (image_tag @room.picture, size: "650x500"), rooms_path, :title => 'return to all.' %>
</div>
<div id="room-details">
  <div class="room-show">
    Room Type: <%= @room.rmcat.rmtype %>
  </div>
  <div class="room-show">
    Description: <%= @room.description %>
  </div>
  <div class="room-show">
    Room Size: <%= @room.size %> sqft
  </div>
  <div class="room-show">
    Room Capacity: <%= @room.capacity %> People
  </div>
  <div class="room-show">
    Room Price: <%= number_to_currency @room.price, unit: "£" %>
    <br/>
    <%= link_to 'Back', rooms_path %>
  </div>
</div>
