<%= form_for(@extra) do |f| %>
    <% if @extra.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@extra.errors.count, "error") %> prohibited this extra from being saved:</h2>
          <ul>
            <% @extra.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="main-form">
      <fieldset>
        <div class="field">
          <%= f.label :extraimg %><br>
          <%= f.file_field :extraimg %>
        </div>
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :description %><br>
          <%= f.text_area :description %>
        </div>
        <div class="field">
          <%= f.label :quantity %><br>
          <%= f.number_field :quantity %>
        </div>
        <div class="field">
          <%= f.label :price %><br>
          <%= f.text_field :price %>
        </div>
        <div class="field">
          <%= f.label :extracat_id %><br>
          <%= f.number_field :extracat_id %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      </fieldset>
    </div>
<% end %>
