
<nav class="roomnavbar navbar-default" role="navigation">
<div class="roomcontainer">
  <div class="rooomnavbar-header">
      <!-- <div class="roomheader"><a class="roomnavbar-brand" href="/rooms">Rooms</a></div> -->
          <ul class="roomliststyle">

            <li><a class="roomnavbar-brand" href="/rooms/1">Maple Room</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/2">Castle Room</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/3">Regal Room</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/4">The Grand Hall</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/5">The Beaumant</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/6">Belverdere</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/7">Winter Wonderland</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/8">Ambleside</a></li>
            <li><a class="roomnavbar-brand" href="/rooms/9">The Lakeside</a></li>
          </ul>

  </div>
</div>
</nav>
<body>
  <div class="landing-image">
    <div id="carousel" class="owl-carousel">
      <div> <%= image_tag("extras_1_landing.jpg") %> </div>
      <div> <%= image_tag("extras_2_landing.jpg") %> </div>
      <div> <%= image_tag("extras_3_landing.jpg") %> </div>
      <div> <%= image_tag("extras_4_landing.jpg") %> </div>
      <div> <%= image_tag("extras_5_landing.jpg") %> </div>
      <div> <%= image_tag("extras_6_landing.jpg") %> </div>
      <div> <%= image_tag("extras_7_landing.jpg") %> </div>
      </div>
  </div>

</body>
<script>
$(document).ready(function() {
  $("#carousel").owlCarousel({
    items : 1, //1 items above 1000px browser width
    autoPlay: true
  });
});
</script>

<h1>Listing Extras</h1>

<table>
  <thead>
    <tr>
      <th>Extraimg</th>
      <th>Name</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Extracat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @extras.each do |extra| %>
      <tr>
        <td><%= extra.extraimg %></td>
        <td><%= extra.name %></td>
        <td><%= extra.description %></td>
        <td><%= extra.quantity %></td>
        <td><%= extra.price %></td>
        <td><%= extra.extracat_id %></td>
        <td><%= link_to 'Show', extra %></td>
        <td><%= link_to 'Edit', edit_extra_path(extra) %></td>
        <td><%= link_to 'Destroy', extra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Extra', new_extra_path %>
