<nav class="extranavbar navbar-default" role="navigation">
  <div class="extracontainer">
    <div class="extranavbar-header">
      <ul class="extraliststyle">
        <li>
          Flowers
          <ul>
            <li><a class="extranavbar-brand" href="/extras/1">Roses</a></li>
          </ul>
        </li>
        <li>
          Cars
          <ul>
            <li><a class="extranavbar-brand" href="/extras/2">Rolls Royce</a></li>
          </ul>
        </li>
        <li><a class="extranavbar-brand" href="/extras/3">Professional Photography</a></li>
        <li>
          Live Music
          <ul>
            <li><a class="extranavbar-brand" href="/extras/4">Balineasy</a></li>
          </ul>
        </li>
        <li><a class="extranavbar-brand" href="/extras/5">Professional Invitations</a></li>
      </ul>
    </div>
  </div>
</nav>
<body>
<div class="landing-image">
  <div id="carousel" class="owl-carousel">
    <div> <%= image_tag("extras_1_landing.jpg") %> </div>
    <div> <%= image_tag("extras_2_landing.jpg") %> </div>
    <div> <%= image_tag("extras_3_landing.jpg") %> </div>
    <div> <%= image_tag("extras_4_landing.jpg") %> </div>
    <div> <%= image_tag("extras_5_landing.jpg") %> </div>
    <div> <%= image_tag("extras_6_landing.jpg") %> </div>
    <div> <%= image_tag("extras_7_landing.jpg") %> </div>
  </div>
</div>
</body>
<script>
    $(document).ready(function () {
        $("#carousel").owlCarousel({
            items: 1, //1 items above 1000px browser width
            autoPlay: true
        });
    });
</script>
