<p id="notice"><%= notice %></p>

<h1>Listing Additions</h1>

<table>
  <thead>
    <tr>
      <th>Booking</th>
      <th>Extra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @additions.each do |addition| %>
      <tr>
        <td><%= addition.booking_id %></td>
        <td><%= addition.extra_id %></td>
        <td><%= link_to 'Show', addition %></td>
        <td><%= link_to 'Edit', edit_addition_path(addition) %></td>
        <td><%= link_to 'Destroy', addition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Addition', new_addition_path %>
