<!DOCTYPE html>
<html>
<head>
  <title>Meadow View | Weddings</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main-div">
<nav class="navbar navbar-default" role="navigation">
<div class="container">
<div class="navbar-header">
  <!-- if there is a user signed in -->
  <% if user_signed_in? %>
      <!-- if user is admin display navigation bar with all privilidges -->
    <% if current_user.admin? %>
      <ul><li><a class="navbar-brand" href="/pages/home">Home</a></li>
        <li>
          <a class="navbar-brand" href="/rooms">Rooms</a>
          <ul>
            <li><a class="navbar-brand" href="/rooms">View Rooms</a></li>
            <li><a class="navbar-brand" href="/rooms/new">New Room</a></li>
          </ul>
        </li>
        <li>
          <a class="navbar-brand" href="/rmcats">Room Types</a>
          <ul>
            <li><a class="navbar-brand" href="/rmcats">View Room Types</a></li>
            <li><a class="navbar-brand" href="/rmcats/new">New Room Type</a></li>
          </ul>
        </li>
        <li>
        Account
        <ul>
          <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        </ul>
        </li>
        <li><a class="navbar-brand" href="/pages/contactus">Contact us</a></li>
      </ul>
    <% end %>
    <!-- if a customer is signed in display navbar with sufficient privilidges -->
    <% if current_user.customer? %>
      <ul><li><a class="navbar-brand" href="/pages/home">Home</a></li>
        <li>
          <a class="navbar-brand" href="/rooms">Rooms</a>
        </li>
        <li><a class="navbar-brand" href="/pages/contactus">Contact us</a></li>
        <li>
        Account
        <ul>
          <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        </ul>
        </li>
      </ul>
    <% end %>
    <!-- else if not logged in -->
    <% else %>
      <ul><li><a class="navbar-brand" href="/pages/home">Home</a></li>
        <li>
          <a class="navbar-brand" href="/rooms">Rooms</a>
        </li>
        <li><a class="navbar-brand" href="/pages/contactus">Contact us</a></li>
        <li>
        Account
        <ul>
          <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
          <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
        </ul>
        </li>
      </ul>
  <% end %>
  <div class="login">
    <% if user_signed_in? %>
      Logged in as <%= current_user.email %>.
      <% if current_user.admin? %>
        Signed in as Admin.
      <% end %>
      <!-- <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> -->
      <% else %>
      <!-- <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> -->
    <% end %>
  </div>
  </div>
</div>
</nav>
<div class="title">
  <%= image_tag("logo.gif") %>
</div>
<div class="notice-alert">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
</div>
<%= yield %>
</div>
</body>
</html>
